@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --text: #000000; /* black */
    --background: #ffffff; /* white */
    --foreground: #000000; /* black */
    --card: #ffffff; /* white */
    --card-foreground: #1a1a1a; /* dark gray */
    --popover: #ffffff; /* white */
    --popover-foreground: #1a1a1a; /* dark gray */
    --primary: #1a1a1a; /* dark gray */
    --primary-foreground: #d9e6ff; /* very light blue */
    --secondary: #d9e6ff; /* very light blue */
    --secondary-foreground: #1a1a1a; /* dark gray */
    --muted: #d9e6ff; /* very light blue */
    --muted-foreground: #6e6e6e; /* medium gray */
    --accent: #d9e6ff; /* very light blue */
    --accent-foreground: #1a1a1a; /* dark gray */
    --destructive: #ff4d4d; /* light red */
    --destructive-foreground: #d9e6ff; /* very light blue */
    --success: #33cc33; /* green */
    --success-foreground: #d9e6ff; /* very light blue */
    --border: #e6e6e6; /* very light gray */
    --input: #e6e6e6; /* very light gray */
    --ring: #1a1a1a; /* dark gray */
    --radius: 0.5rem;
    --chart-1: #ff9933; /* orange */
    --chart-2: #33cc99; /* teal */
    --chart-3: #336699; /* dark blue */
    --chart-4: #ff9933; /* orange */
    --chart-5: #ffcc33; /* yellow */
  }
  .dark {
    --background: #161730; /* dark blue */
    --text: #ebe9fc; /* very light purple */
    --foreground: #ffffff; /* white */
    --card: #1a1a1a; /* dark gray */
    --card-foreground: #d9e6ff; /* very light blue */
    --popover: #1a1a1a; /* dark gray */
    --popover-foreground: #d9e6ff; /* very light blue */
    --primary: #d9e6ff; /* very light blue */
    --primary-foreground: #1a1a1a; /* dark gray */
    --secondary: #2c2c2c; /* very dark gray */
    --secondary-foreground: #d9e6ff; /* very light blue */
    --muted: #2c2c2c; /* very dark gray */
    --muted-foreground: #a6a6a6; /* light gray */
    --accent: #2c2c2c; /* very dark gray */
    --accent-foreground: #d9e6ff; /* very light blue */
    --destructive: #993333; /* dark red */
    --destructive-foreground: #d9e6ff; /* very light blue */
    --success: #33cc33; /* green */
    --success-foreground: #d9e6ff; /* very light blue */
    --border: #2c2c2c; /* very dark gray */
    --input: #2c2c2c; /* very dark gray */
    --ring: #6e6e6e; /* medium gray */
    --chart-1: #3333cc; /* blue */
    --chart-2: #339966; /* green */
    --chart-3: #ff9933; /* orange */
    --chart-4: #9933cc; /* purple */
    --chart-5: #ff3399; /* pink */
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
